//variaveis globais
$font_defaut:'Roboto', sans-serif;
//variaveis para tag p
$color_p: #4a4a4a;
$font_p: 14px;
$lh_p:24px;
//variaveis button a
$color_bg_a:  #3a8bcd;
$color_b_a:#fff;
$fs_b_a:14px;












$align: left;
$bg-color: #ddd;
$color-01: #ff5;
$color-02: #999;
$color-03: #f00;
$color-04: #222;
$color-default: #444;
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;